<!-- templates/register.html -->
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Register — Hashed Password Demo</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <header class="hero-header container">
  <div class="hero-top">
    <a href="{{ url_for('home') }}" class="brand-button">
      Hashed Password Demo (bcrypt)
    </a>
    <nav class="hero-nav">
      <a href="{{ url_for('register') }}">Register</a>
      <a href="{{ url_for('login') }}">Login</a>
      <a href="{{ url_for('compare') }}">Compare</a>
      <a href="{{ url_for('rainbow') }}">Rainbow Demo</a>
    </nav>
  </div>

  <div class="register-container">
    <h2>Register</h2>

     <div class="jinja-logic-container">
    <h3>Jinja Control Logic</h3>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, msg in messages %}
          <div class="flash-message {{ category }}">{{ msg }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>

    <form method="post" class="register-form">
      <div class="form-group">
        <label>Username</label>
        <input name="username" required>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input id="password" name="password" type="password" required oninput="checkStrength()">
      </div>
      <div class="form-group">
        <div id="strengthText">Armor: —</div>
        <div class="progress-bar-container">
          <div id="strengthBar" class="progress-bar"></div>
        </div>
      </div>
      <button class="custom-button success">Register</button>
    </form>
  </div>

  <script src="{{ url_for('static', filename='strength.js') }}"></script>
</body>
</html>

